<!DOCTYPE html>
<html lang="en">
<head>
    <title>SDGui</title>
</head>
<body>
    <table style="width: 100%; border-collapse: collapse;" border="0">
        <tbody>
            <tr>
            <td style="width: 80%; text-align: left;"><strong>SDGui</strong></td>
            <td style="width: 10%; text-align: center;"><a href="/">Контейнеры</a></td>
            <td style="width: 10%; text-align: center;"><a href="/images">Образы</a></td>
            </tr>
        </tbody>
    </table>
    <br>
    <br>
    <div id="content">{% block content %}{% endblock %}</div>
</body>
</html>